pyarrow==15.0.2
soundfile
jiwer
torch==2.3.1
datasets
transformers
tqdm
safetensors
evaluate
librosa
accelerate
"git+https://github.com/sdrobert/pydrobert-pytorch.git"
"git+https://github.com/sdrobert/kenlm"
confidence_intervals